// // // // LOGO

.logo {
  display: inline-block;
  h1 {
    position: absolute;
    text-indent: -9999999px;
  }
  img {
    display: block;
    width: 140px;
    height: 57px;
  }
  @media (min-width: 1024px) {
    img {
      width: 185px;
      height: 75px;
    }
  }
}