{% extends "AppBundle::Sitio/layout.html.twig" %}
{% set interna = true %}

{% block content %}

<section id="ficha" class="wow fadeInUp">
            <div class="container">
                <header class="section-header"> 
                    <h3>Apart de 3 ambientes con capacidad hasta 6 personas</h3>
                </header>
                <div class="row">
                    <div class="col-lg-6">

                        <!-- Carousel de fotos-->
                        <div class="ficha-carousel owl-carousel owl-theme">

							{{ render(controller('AppBundle:Default:galeria',{galeria_id: 2})) }}
                            
                        </div>
                        
                    </div>
                    <div class="col-lg-6">
                        <p class="text-left">Cada Apart tiene una superficie de 72.48 m2 entre planta baja y planta alta. Se componen de una habitación matrimonial (con placard) en planta alta, una segunda habitación con 2 camas, (placard en el pasillo) y un baño (con bañera), mientras que en planta baja esta la cocina, un sofá que pasa a formar dos camas, un segundo baño (con ducha) y mesa y sillas (6) de algarrobo.</p>
                        <ul class="main-list">
                            <li><i class="fas fa-check-circle"></i> Cama matrimonial con sommier</li>
                            <li><i class="fas fa-check-circle"></i> Deck privado</li>
                            <li><i class="fas fa-check-circle"></i> Parrilla</li>
                            <li><i class="fas fa-check-circle"></i> Muebles de jardín</li>
                            <li><i class="fas fa-check-circle"></i> SMART TV 32" En el living</li>
                            <li><i class="fas fa-check-circle"></i> TV LCD 24" En el dormitorio</li>
                            <li><i class="fas fa-check-circle"></i> Pava eléctrica</li>
                            <li><i class="fas fa-check-circle"></i> 2 Baños completo</li>
                            <li><i class="fas fa-check-circle"></i> Secador de pelo</li>
                            <li><i class="fas fa-check-circle"></i> Espacio para estacionar descubierto</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}