<section class="section promo" id="promociones">
  <div class="section__holder">
    <h2 class="section__title">Nuestras promociones</h2>
    <p class="section__text">Aprovecha nuestas promociones para venir a conocer el <span class="hotel">Hotel Normandie</span> en Miramar. Los mejores precios y descuentos para fines de semana largos y la temprada 2019 / 2020</p>
    <div class="promo__grid">
      {% for promocion in promociones %}
      <div class="promo__item">
        <figure class="promo__image">
          <img src="{{ asset('/uploads/promociones/' ~ promocion.imagen) }}"> 
        </figure>
        <div class="promo__content">
          <h3 class="promo__title">{{ promocion.nombre }}</h3>
          <p class="promo__text">{{ promocion.descripcion|nl2br}}</p> 
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>