<h3 class="content-inside__title">Salón comedor</h3>
<h4 class="content-inside__subtitle">Mañana</h4>
<p class="content-inside__text">Se sirve el desayuno buffet</p>
<h4 class="content-inside__subtitle">Mediodía y noche</h4>
<p class="content-inside__text">Los huéspedes pueden usar el salón comedor para almorzar y cenar trayendo su comida.<br>El Hotel les provee la vajilla correspondiente y se hace cargo de la limpieza.</p>
<h3 class="content-inside__title">Sala de juegos</h3>
<p class="content-inside__text">Para los niños (y no tan niños) tenemos a disposición y sin cargo alguno</p>
<ul class="content-inside__list">
  <li><i class="fas fa-gamepad"></i> Mesa de ping pong</li>
  <li><i class="fas fa-gamepad"></i> Metegol</li>
  <li><i class="fas fa-gamepad"></i> Play Station</li>
  <li><i class="fas fa-gamepad"></i> Juegos de mesa</li>
</ul>
<h3 class="content-inside__title">Además</h3>
<p class="content-inside__text">El Hotel dispone de una heladera para aquel pasajero que desee guardar algo (comida, bebida, medicamentos) y también un espacio para guardar sillas, reposeras, sombrillas etc para que no ocupen lugar en la habitación</p>
<p class="content-inside__text">Wi-Fi libre en todo el hotel</p>