{% extends "AppBundle::Sitio/layout.html.twig" %}
{% set home = true %}

{% block content %}

<!-- Intro animation -->
  <div class="intro">
    <div class="owl-carousel intro-carousel">
      <div class="intro__item one">
        <p class="intro__text">
          <span>A 300 metros del mar</span> <span>Y las principales áreas comerciales</span>
        </p>
      </div>
      <div class="intro__item two">
          <p class="intro__text">
            <span>Miramar, una ciudad apacible</span> <span>Dedicada a los niños y la familia</span>
          </p>
      </div>
    </div>
  </div>

  {# Promos #}
  {{ render(controller('AppBundle:Default:promociones')) }}

  <!-- Hotel -->
  <section class="section hotel">
    <div class="section__holder">
      <h2 class="section__title">Hotel Normandie</h2>
      <p class="section__text">El Hotel está ubicado en la zona céntrica de Miramar, a 300 metros del mar y las principales áreas comerciales, ofrecemos un servicio de excelente calidad, brindando a nuestros huéspedes la calidez de nuestra gente, para hacerlos sentir como en su hogar.</p>
      <p class="section__text">Miramar, una ciudad apacible, dedicada a los niños y la familia. Miramar dispone de una magnífica costa, con amplias playas de suave arena, que brindan todas las posibilidades para disfrutar del sol y el mar.</p>
      <a href="{{ url('habitaciones') }}" class="section__button button --secondary --with-icon"><i class="fas fa-images"></i> Ver fotos del hotel</a>
    </div>
  </section>

  <!-- Whatsapp -->
  <section class="section whatsapp">
    <h2 class="section__title">Whatsapp directo !</h2>
    <p class="section__text">Hacé click acá y envianos tu consulta por WhatsApp, te responderemos inmediatamente</p>
    <a href="https://wa.me/5491154152464" target="_blank" class="whatsapp-cta">
      <i class="fab fa-whatsapp"></i>
    </a>
  </section>

  <!-- Location -->
  <section class="section location" id="como-llegar">
    <h2 class="section__title">Cómo llegar</h2>
    <div class="section__holder">
      <div class="location__info">
        <p class="section__text location__text">El <span class="hotel">Hotel Normandie</span> se encuentra en Miramar, provincia de Buenos Aires, sobre la Calle 19 N° 910 esquina 18</p>
        <p class="section__text location__text">Miramar se encuentra ubicado en el sudeste de la Provincia de Buenos Aires (Latitud 38º 16' Sur, Longitud 57º 50' Oeste), a 450 Km. de la Ciudad Autónoma de Buenos Aires, por la ruta Provincial Nº 2; y a 45 Km. al Sur de Mar del Plata por la ruta Provincial Nº 11.</p>
        <h3 class="location__title">Accesos</h3>
        <p class="section__text location__text">Desde el Norte: Por ruta Provincial Nº 2 y ruta Provincial Nº 11, y por Ferrocarril Ferrobaires</p>
        <p class="section__text location__text">Desde el Sur: Por ruta Provincial Nº 88 y ruta Provincial Nº 77</p>
        <p class="section__text location__text">Desde el Noroeste: Por ruta Provincial Nº 226 y rutas 11 y 88</p>
      </div>
      <div class="map-container"></div>
    </div>
  </section>

  <!-- Users -->
  <section class="section review">
    <div class="section__holder">
      <h2 class="section__title">Nuestros huéspedes</h2>
      <p class="section__text">Conoce que opinan de nosotros los huéspedes que ya conocieron el <span class="hotel">Hotel Normandie</span></p>
      <div class="owl-carousel review-carousel">
        <div class="review__item">
          <h3 class="review__title">Excelente! Lo recomiendo!</h3>
          <p class="review__text">
            <i class="fas fa-quote-left"></i>
            Preciosas las instalaciones. Cómodo. Habitación (triple superior) muy amplia, dos espacios dividida por un baño amplio tambien. La comida riquísima y muy abundante. El personal excelente! Muy buena ubicacion, tranquilo, pero cerca de todo.
            <i class="fas fa-quote-right"></i>
          </p>
        </div>
        <div class="review__item">
          <h3 class="review__title">Excelente comida</h3>
          <p class="review__text">
            <i class="fas fa-quote-left"></i>
            No me hospedé en este hotel, pero si me recomendaron ir a comer. Fui a desayunar y había variedad de cosas para elegir. Después fui a cenar y la comida me encanto. También me gusto mucho la decoración del hotel.
            <i class="fas fa-quote-right"></i>
          </p>
        </div>
        <div class="review__item">
          <h3 class="review__title">Lindas vacaciones</h3>
          <p class="review__text">
            <i class="fas fa-quote-left"></i>
            Tuve una muy buena experiencia. El hotel está recién arreglado, la decoración es muy linda, el desayuno bastante variado y la atención muy agradable.
            <i class="fas fa-quote-right"></i>
          </p>
        </div>
        <div class="review__item">
          <h3 class="review__title">Excelente lugar</h3>
          <p class="review__text">
            <i class="fas fa-quote-left"></i>
            Tuve que viajar el fin de semana y fui sin reserva y me aconsejaron ir ahi la verdad el hotel es re lindo, super confortable, limpio, luminoso y el trato de primera. Es un hotel reciclado a nuevo la construcción es del año 50 y realmente parece que no tuviera mas de 50 años. Muy buen gusto. Es para volver.
            <i class="fas fa-quote-right"></i>
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}